body{
  background-image: url(assests/bg11.jpg);
  
}

body div{ 
  display: block;
  margin-left: auto;
  margin-right: auto; 
  background-image: url(assests/images.png);
  box-shadow: 4px solid;
}
h1{
  text-align: center;
  color: rgb(232, 93, 42);
  text-shadow: 4px 4px 4px black;
  font-weight: bolder;
  font-size:50px;
}
h1:hover{
  
  color: rgb(108, 72, 237);
}

#calculator{
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;;
  height: 100px;
  
}

#display{
  margin: 15px;
  width:80%;
  font-size: 35px;
  font-weight: bold;
  color: rgb(9, 8, 8);
  background-color: rgb(113, 188, 225);
}

.button{
  width: 45px;
  height: 40px;
  margin: 5px;
  background-color: rgba(153, 159, 176, 0.813);
  font-size: 20px;
  color: #100e0e;
  font-weight: bold;
  cursor: pointer;
}

.button:hover{
    color: rgb(254, 247, 247);
    background-color: rgb(77, 101, 108);
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}